/* Cargar la fuente personalizada desde el archivo .otf */
@font-face {
    font-family: 'MinecraftTen';
    src: url('https://github.com/JeamDeveloper/Lightning-Cube/blob/0cca838d7d305ca0f2bd435159549f2493fde5fc/resources/fonts/MinecraftTen.otf?raw=true') format('opentype');
}

/* Aplicar la fuente a todo el cuerpo */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'MinecraftTen', sans-serif;
    color: white;
    background-color: #1B1B1B; /* Fondo del body color oscuro */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal para la página de MM Add On */
.mm-add-on-page {
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/JeamDeveloper/Lightning-Cube/blob/f69418991959d3e14dfebefdc162dcc0ad8a75c9/resources/images/background/MM-Addon-Showcase-01.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

/* Capa oscura encima del fondo sin dejar espacios visibles */
.mm-add-on-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurecer el fondo con un filtro semitransparente */
    z-index: -1; /* Asegurarse de que esté detrás del contenido */
}

/* Estilo para el título */
.addon-title {
    text-align: center;
    font-size: 40px; /* 26dp en px para la fuente */
    z-index: 1;
    position: relative;
    margin-bottom: 20px; /* Para separar el título del texto de descarga */
}

.launcher_button {
    margin-top: 10px;
    font-size: 20px; /* 20dp en px para la fuente */
    cursor: pointer;
    text-align: center;
    background: url('https://github.com/JeamDeveloper/Lightning-Cube/blob/5aff47a73f83947efecd99b74e50855641235ed6/resources/images/buttons/GreenLauncherButton.png?raw=true') no-repeat center center;
    background-size: contain; /* Ajusta la imagen dentro del contenedor sin cortarla */
    background-repeat: no-repeat; /* Asegura que la imagen no se repita */
    color: white;
    width: 250px;
    height: 50px; /* Ajustado al tamaño del contenido */
    display: inline-block;
    line-height: 50px; /* Alineación vertical del texto */
    text-decoration: none; /* Sin subrayado */
    border: none; /* Sin bordes */
    font-family: 'MinecraftTen', sans-serif; /* Usar la fuente MinecraftTen */
    padding: 0; /* Sin padding predeterminado */
    text-align: center; /* Centrar el texto horizontalmente */
    vertical-align: middle; /* Centrar el texto verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none; /* Sin transiciones */
}

.launcher_button:active {
    background-image: url('https://github.com/JeamDeveloper/Lightning-Cube/blob/5aff47a73f83947efecd99b74e50855641235ed6/resources/images/buttons/GreenPressesLauncherButton.png?raw=true');
}